#login {
    border: solid 2px red;
}
#register {
    border: solid 2px blue;
}
#content {
    border: solid 2px green;
}
#error-panel {
    color: red;
    background-color: black;
    border: solid 2px grey;
}